@import url('https://fonts.googleapis.com/css2?family=poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=delicious+handrawn&display=swap');
@import url(https://fonts.googleapis.com/css?family=roboto:300,400,600);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-seri;
}